body{
	background-image: url(../images/eggsurf.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: contain;
}
ul{
	list-style: none;
}
li{
	list-style: none;
}
.ShoppingList{
	font-family: 'Droid Sans', sans-serif;
	margin-top:50px;
	margin-left:50px;
}
.TextInput{
	font-family: 'Shadows Into Light', cursive;
}
.box{
	background-image: url('../images/box.png');
	background-repeat: no-repeat;
}
.checkedbox{
	background-image: url('../images/checkedbox.png');
}